body {
    font-family: "Kanit";
    font-weight: 400;
}

$themes: (
    light: (
        text: #232429,
        background: #f7f8fc,
        primary: #475ad4,
        secondary: #6e7eec,
        accent: #808fef,
    ),
    dark: (
        text: #d6d7dc,
        background: #030407,
        primary: #2c3fba,
        secondary: #132490,
        accent: #101f7f,
    ),
);

/*
// DARK & LIGHT THEME COLORS

$themes: (
    light: (
        text: #232429,
        background: #f7f8fc,
        primary: #475ad4,
        secondary: #6e7eec,
        accent: #808fef,
    ),
    dark: (
        text: #d6d7dc,
        background: #030407,
        primary: #2c3fba,
        secondary: #132490,
        accent: #101f7f,
    ),
);

// GRADIENTS

--linearPrimarySecondary: linear-gradient(#475ad4, #6e7eec);
--linearPrimaryAccent: linear-gradient(#475ad4, #808fef);
--linearSecondaryAccent: linear-gradient(#6e7eec, #808fef);
--radialPrimarySecondary: radial-gradient(#475ad4, #6e7eec);
--radialPrimaryAccent: radial-gradient(#475ad4, #808fef);
--radialSecondaryAccent: radial-gradient(#6e7eec, #808fef);

// FONT FAMILY

@import url("https://fonts.googleapis.com/css?family=Poppins:700|Kanit:400");


h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins";
    font-weight: 700;
}

/* body {
    font-family: "Kanit";
    font-weight: 400;
}

html {
    font-size: 62.5%;
} */
